#Title{
    line-height: 100px;
    height:100px;
    vertical-align: middle
}

#Titolo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin-left: 10px;
}

#Contorno{
    width: 100%;
    background-color: lightgray;
    padding: 50px;

}

#Contenuto{
    width: 1000px;
    height: 600px;
    background-color: white;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
}